@import url("https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
}

#nav-menu > .nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
  list-style: none;
  text-decoration: none;
}

.nav-links a {
  text-decoration: none;
  color: gray;
  font-family: "Lumanosimo", cursive;
  display: block;
  float: right;
}
.hr-line {
  border: 0.011rem solid black;
}
#nav-menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px;
  /* box-shadow: rgba(183, 128, 128, 0.4) 0px 30px 90px; */
  /* background-color: rgb(245, 248, 248); */
}

#nav-menu {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  border-bottom-style: solid;
  border-bottom-color: #1c1a1a;
  border-bottom-width: 1px;
}

#nav-menu a {
  float: right;
  display: block;
  color: gray;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: "Lumanosimo", cursive;
}

/* home-section css */
.title {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lumanosimo", cursive;
  text-align: center;
  width: 100%;
}

.title h1 {
  position: relative;
  color: #bbb;
  font-weight: 600;
  font-size: 70px;
  padding: 0;
  margin: 0;
  line-height: 1;
  text-shadow: 0 0 30px #000155;
}
/* .title h1 {
  font-weight: 600;
  padding: 0;
  margin: 0;
  color: #bbb;
} */

.title h2 {
  font-weight: 200;
  font-size: 25px;
  padding: 0;
  margin: 0;
  line-height: 3;
  color: #eeeeee;
  letter-spacing: 2px;
  text-shadow: 0 0 30рх #000155;
}
