@import url("https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lumanosimo", cursive;
}

#nav-menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px;
  box-shadow: rgba(183, 128, 128, 0.4) 0px 30px 90px;
}
#nav-menu a:hover {
  color: #00aff0;
}
#nav-menu {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  border-bottom-style: solid;
  border-bottom-color: #ededed;
  border-bottom-width: 1px;
}

#nav-menu a {
  float: right;
  /* display: block; */
  color: #fffafa;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

/* home-section css */
.title {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  width: 100%;
}

.title h1 {
  position: relative;
  color: #bbb;
  font-weight: 600;
  font-size: 70px;
  padding: 0;
  margin: 0;
  line-height: 1;
  text-shadow: 0 0 30px #000155;
}

.title h2 {
  font-weight: 200;
  font-size: 25px;
  padding: 0;
  margin: 0;
  line-height: 3;
  color: #eeeeee;
  letter-spacing: 2px;
  text-shadow: 0 0 30рх #000155;
}

#canvas {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-container {
}
